
*.xml
*.pyc
*.iml
*.xml___jb_tmp___
tensorflow-practice/text_classification/data/test_set.csv
tensorflow-practice/text_classification/data/testdata.manual.2009.06.14.csv
tensorflow-practice/text_classification/data/training.1600000.processed.noemoticon.csv
tensorflow-practice/text_classification/data/train_set.csv
*.pickle
hmm/normal_examples.csv
